@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 20px;
    padding-bottom: -0px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    background-color: rgb(40, 25, 55);
    border-radius:10px; 
    overflow: hidden;
}
.border{
    width: 90%;
    margin-left:5%;
    border-radius: 40px;
    border: 10px solid rgb(255, 255, 255);
}
.title{
    width: 30%;
    background-color: rgb(40, 25, 55);
    margin-left: 30%;
    margin-top: -26px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;

}
.title i{
    font-size: 25px;
    color: yellow ;
}
.first-con{
    margin-left: 5%;
    color: white;
    
}
.first-con p {
    font-size: 25px;
    letter-spacing: 10px;   
    }
.first-con p span{
    font-family: 'Kolker Brush', cursive;
    font-size:200px;
}
.second-con,.third-con
,.fourth-con
,.five-con
,.six-con
,.seven-con
,.eight-con
,.ninth-con



{
    height: 300px;
}

.second-con .img,.third-con .img
,.fourth-con .img
,.five-con .img
,.six-con .img
,.seven-con .img
,.eight-con .img
,.ninth-con .img


{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;

 
}
.second-con img,.third-con img,
.fourth-con img
,.five-con img
,.six-con img
,.seven-con img
,.eight-con img
,.ninth-con img

{
    width: 200% ;
    height: 300px;
    transform: rotate(-3deg);
    filter: opacity(40%); 
      
}
.second-con.text ,.third-con .title ,
.fourth-con .title 
,.five-con .title
,.six-con .title
,.seven-con .title
,.eight-con .title
,.ninth-con .title

{
    width:80%;
    height: 10px;
    background-color: white;

}
.second-con p ,.third-con p,
.fourth-con p
,.five-con p
,.six-con p
,.seven-con p
,.eight-con p
,.ninth-con p


{
    position: absolute;
    color: black;
    margin-top: -10%;
    color: white;
    left:40% ;
    font-size: 15px;
   
}
.second-con .text,.third-con .text,
.fourth-con .text
,.five-con .text
,.six-con .text
,.seven-con .text
,.eight-con .text
,.ninth-con .text

 {
    width: 200%;
    position: relative;
    top: -340px;
    left: -10%;
    background-color: white;
    transform: rotate(-3deg);
    height: 300px;
    filter: opacity(50%);
}
.second-con .text div,.third-con .text div,
.fourth-con .text div
,.five-con .text div
,.six-con .text div
,.seven-con .text div
,.eight-con .text div
,.ninth-con .text div

{
    padding: 5px;
    width: 50%;
    margin-left:6%;
    font-size: 15px;
    transform:rotate(3deg);;
    letter-spacing: 10px;   
   
} 
.second-con .text div h6 span,
.third-con .text div h6 span,
.fourth-con .text div h6 span
,.five-con .text div h6 span
,.six-con .text div h6 span
,.seven-con .text div h6 span
,.eight-con .text div h6 span
,.ninth-con .text div h6 span



{

    font-family: 'Kolker Brush', cursive;
    font-size:100px;

    
}
.second-con .text div h6,
.third-con .text div h6,
.fourth-con .text div h6 
,.five-con .text div h6
,.six-con .text div h6
,.seven-con .text div h6
,.eight-con .text div h6
,.ninth-con .text div h6


{
    font-size: 20px;
}
.third-con .text{
    color: white;
    background-color: rgb(46, 17, 66);
}
.fourth-con .text{
    color: rgb(0, 0, 0);
    background-color: rgb(246, 175, 229);
}
.five-con .text{
    color: rgb(255, 255, 255);
    background-color: rgb(41, 0, 38);
}
.six-con .text{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.seven-con .text{
    color: rgb(248, 170, 222);
    background-color: rgb(48, 3, 45);
}
.eight-con .text{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 234, 181);
}
.ninth-con .text{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.ten-con {

    width: 200%;
    position: relative;
    top: 40px;
    left: -10%;
    background-color: rgb(170, 170, 170);
    color: white;
    transform: rotate(-3deg);
    height: 300px;
    
}
.ten-con .text div{
    padding: 1px;
    width: 40%;
    margin-left:6%;
    font-size: 15px;
    transform:rotate(3deg);;
    letter-spacing: 10px;   

}
.ten-con .text div p{
    margin-top: 10%;
    font-size: 15px;
}
.ten-con .text div b{
    margin-left: 100%;
}


@media  screen and (max-width:1440px) {

    .second-con .text
    ,.third-con .text,
    .fourth-con .text
    ,.five-con .text
    ,.six-con .text
    ,.seven-con .text
    ,.eight-con .text
    ,.ninth-con .text
    
     {
      
        position: relative;
        
        top: -339px;
        height: 296px;
       
    }
    .second-con .text div,.third-con .text div,
    .fourth-con .text div
    ,.five-con .text div
    ,.six-con .text div
    ,.seven-con .text div
    ,.eight-con .text div
    ,.ninth-con .text div
    
    {
        padding: 40px;
         width: 40%;
        font-size: 20px;
        
       
    } 
    .ten-con .text div p{
        font-size: 15px;
    }
    }
    @media  screen and (max-width:1024px) {

        .second-con .text
        ,.third-con .text,
        .fourth-con .text
        ,.five-con .text
        ,.six-con .text
        ,.seven-con .text
        ,.eight-con .text
        ,.ninth-con .text
        
         {
          
            position: relative;
            
            top: -328px;
            height: 296px;
            left: -20%;
           
        }
        .second-con .text div,.third-con .text div,
        .fourth-con .text div
        ,.five-con .text div
        ,.six-con .text div
        ,.seven-con .text div
        ,.eight-con .text div
        ,.ninth-con .text div
        
        {
            padding: 7px;
           margin-left: 11%;
            font-size: 20px;
            
           
        } 
        .ten-con .text div p{
            font-size: 15px;
            margin-left: 11%;
        }
        .ten-con{
            position: relative;
            left: -20%;
        }
        }
        @media  screen and (max-width:768px) {

            .second-con .text
            ,.third-con .text,
            .fourth-con .text
            ,.five-con .text
            ,.six-con .text
            ,.seven-con .text
            ,.eight-con .text
            ,.ninth-con .text
            
             {
              
                position: relative;
                
                top: -324px;
                height: 296px;
                left: -20%;
               
            }
            .second-con .text div,.third-con .text div,
            .fourth-con .text div
            ,.five-con .text div
            ,.six-con .text div
            ,.seven-con .text div
            ,.eight-con .text div
            ,.ninth-con .text div
            
            {
                padding: 20px;
               margin-left: 11%;
                font-size: 15px;
                
               
            } 
            .ten-con .text div p{
                font-size: 15px;
                margin-left: 11%;
            }
            .ten-con{
                position: relative;
                left: -20%;
            }
            }
            @media  screen and (max-width:425px) {
                .title{
                    width: 60%;
                    margin-left: 20%;
                   
                    
                }
            
                .title i{
                      display: none;
                       
                    }
                    
                
                .first-con p{
                    font-size: 15px;
                
                }
                .first-con p span{
                    font-size: 100px;
                }

                .second-con .text
                ,.third-con .text,
                .fourth-con .text
                ,.five-con .text
                ,.six-con .text
                ,.seven-con .text
                ,.eight-con .text
                ,.ninth-con .text
                
                 {
                  
                    position: relative;
                    top: -319px;
                    height: 296px;
                    left: -30%;
                   
                }
                .second-con .text div,.third-con .text div,
                .fourth-con .text div
                ,.five-con .text div
                ,.six-con .text div
                ,.seven-con .text div
                ,.eight-con .text div
                ,.ninth-con .text div
                
                {
                    padding: 20px;
                   margin-left: 21%;
                    font-size: 10px;
                    letter-spacing: 1px;
                    
                   
                } 
                .ten-con .text div p{
                    font-size: 10px;
                    margin-left: 61%;
                    letter-spacing: 1px;
                }
                .ten-con{
                    position: relative;
                    left: -50%;
                }
                }
          